<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>LISTA DE PRODUCTOS</title>
</head>
<body>
  <table>
    <thead>
      <th>ID</th>
      <th>PRODUCTO</th>
      <th>CANTIDAD</th>
      <th>VALOR</th>
    </thead>
    <tbody>
      {%for p in productos%}
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.producto_nombre}}</td>
        <td>{{p.producto_cantidad}}</td>
        <td>{{p.producto_valor}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</body>
</html>
